body{
    margin : 0px;
}
#main{
    width: 80%;
    height: auto;
    border: 1px solid red;
    margin: auto;
}

.pageLinks{
    color: #757575;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, "Noto Sans", Roboto, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans CJK JP", Osaka, Meiryo, メイリオ, "MS PGothic", "ＭＳ Ｐゴシック", "Hiragino Sans GB", "Arial Unicode MS", sans-serif;
    font-size: 13px;
    display: flex;
}
.pageLinks a{
    color: #757575;
    margin-right: 20px;
}
#this{
    margin-left: 20px;
}
h1{
    font-size: 36px;
    font-family: "UniqloPro Bold", "Helvetica Neue", HelveticaNeue, Helvetica, "Noto Sans", Roboto, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans CJK JP", Osaka, Meiryo, メイリオ, "MS PGothic", "MS Pゴシック", "Hiragino Sans GB", "Arial Unicode MS", sans-serif;
    font-weight: 700;
    color:#1b1b1b;
}