body{
    font-family:  'Helvetica Neue', HelveticaNeue, Helvetica, 'Noto Sans', Roboto, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3', 'Noto Sans CJK JP', Osaka, Meiryo, '\30E1\30A4\30EA\30AA', 'MS PGothic', '\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF', 'Hiragino Sans GB', 'Arial Unicode MS', sans-serif;
}

.return,.coupon-ref+a{
text-decoration:underline;
font-weight: bolder;
margin-left:150px;
color:black;

display:inline-block;
}
.coupon-ref+a{
margin-left:0;
}
.coupon-box{
border:1px solid grey;
width:60%;
margin-left:150px;
padding:12px;
margin-bottom: 120px;
}
.coupon-box span,.text{
font-weight: bolder;
text-decoration: none;

}
.coupon-box button{
font-size: 20px;
background-color: black;
color:white;
padding:10px 100px;
margin-right: 20px;
}
.coupon-value{
display:flex;
}
.coupon-box input{
width:400px;
padding:10px;
margin-left: 50px;
font-size: 18px;
border:0;
background-color: whitesmoke;

}
.coupon-box input:focus{
outline:white;
border-bottom: 3px solid cadetblue;
background-color: white;

}
.couponref{
color:grey;
text-decoration: underline;
font-size: 15px;
margin-left: 150px;
font-weight: lighter;
padding-top: 60px;
}
@media only screen and (min-width:0px) and (max-width:376px){
.coupon-box{

width:95%;
margin-left:2px;
padding:8px;
margin-bottom: 120px;
}
.coupon-box input{
width:180px;

margin-left: 20px;
font-size: 18px;  
}
#footer{
height:1000px;
margin-left: 0px;
padding-left: 0px;
}
.underline{
color:#7d7d7d;
display:flex;
justify-content: space-evenly;

}
.underline>div{
margin-left: 0px;
}
.underline>div>p{
font-size: 15px;
margin-right: 10px;
}
.flexdiv{
display:flex;
flex-direction: row;
flex-wrap: wrap;
width:100%;

}
}
@media only screen and (min-width:377px) and (max-width:776px){
    .couponref{
        margin-left: 15px;
    }

.coupon-box{

        width:85%;
        margin-left:2px;
        padding:8px;
        margin-bottom: 120px;
}

#footer{
  width:100%;
height:550px;
margin-left: 0px;
padding-left: 0px;
}
.underline{
color:#7d7d7d;
display:flex;
justify-content: space-evenly;

}
.underline>div{
margin-left: 0px;
}
.underline>div>p{
font-size: 15px;
margin-right: 10px;
}
.flexdiv{
display:flex;
flex-direction: row;
flex-wrap: wrap;
width:100%;

}
}