#main_container{
    display: flex;
    margin: 40px;
    font-family: sans-serif;
}
body{
    margin: 0;
}
#leftside{
    flex: 3;
    margin-right: 50px;
    border: 1px transparent black;
}
#rightside{
    flex: 2;
    border: 1px transparent black;
}
#imgdiv{
    display: flex;
}
#smallimg{
    flex: 1;
    height: 100px;
    margin-right: 30px;
    border: 1px solid black;
}
#smallimg>img{
    width: 92%;
    height: 92%;  
    padding: 5px;
}
#largeimg{
    flex: 4;
    height: 520px;
}
#largeimg>img{
    width: 100%;
    height: 100%;
}
#content>div>h1{
    font-size: 44px;
    font-weight: 800;
    line-height: 45px;
    margin-top: 0;
}
#content>div>h4{
    font-size: 2em;
    margin: 10px 0;
    color: #1b1b1b;
    font-weight: 700;
    line-height: 38px;
}
#content>div>h3{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    color: #7d7d7d;
    line-height: 19px;
}
#content>div>h5{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    color: #1b1b1b;
    line-height: 19px;
}
#content>div>p{
    font-size: 18px;
    margin-top: 50px;
    font-weight: 400;
    color: #1b1b1b;
    line-height: 24px;
    margin-bottom: 30px;
}
#colors>h3{
    font-size: 16px;
    font-weight: 700;
    color: #1b1b1b;
}
#colors>div{
   display: flex;
}
#colors>div>div{
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-right: 12px;
}
#colors>div>div:hover{
    border: 2px solid black;
    /* padding: 2px; */
}
#colors>div>div:nth-child(1){
    background-color: #5e5e5e;

}
#colors>div>div:nth-child(2){
    background-color: #323232;

}
#colors>div>div:nth-child(3){
    background-color: #a67480;
   
}
#colors>div>div:nth-child(4){
    background-color: #80685c;

}
#sizes>h3{
    margin-top: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #1b1b1b;
}
#sizes>div{
   display: flex;

}
#sizes>div>div{
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(102, 102, 102);
    border: 1px solid rgb(179, 179, 179);
}
#sizes>div>div:hover{
    color: white;
    border: 1px solid black;
    background-color:#1b1b1b;
}
#sizes>div>div>h4{
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}

#quantity>h3{
    font-size: 16px;
    margin-top: 35px;
    font-weight: 700;
    color: #1b1b1b;
}
#quantity>div>p{
    font-size: 16px;
    font-weight: 600;
    color: #8b8b8b;
}
#quantity>div>select{
    width: 130px;
    font-size: 20px;
    color: #5f5f5f;
    font-weight: 600;
    padding: 12px 10px;
}
#btnDiv>button{
    width: 100%;
    border: none;
    padding: 10px;
    color: #ffff;
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    background-color: #ff0000;
}
#btnDiv>button:hover{
    transition: .5s all ease;
    background-color: rgba(255, 0, 0, 0.616);
}
#twoBtn{
    display: flex;
    margin-top: 20px;
}
#twoBtn>button{
    flex: 1;
    border:none;
    padding: 9px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    color: #1b1b1b;
    border:1px solid #1b1b1b;
    background-color:transparent;
    
}
#twoBtn>button:hover{
    color: #4e4e4e;
    border:1px solid #4e4e4e;
    

}
#twoBtn>button:first-child{
    margin-right: 10px;
    
}

#share>h3{
    font-size: 16px;
    margin-top: 35px;
    font-weight: 700;
    color: #1b1b1b;
}
#share>div{
   display: flex;

}
#share>div>div{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 12px;

}
#share>div>div:first-child{
   font-size: 60px;
   color: #1da1f2;
}
#share>div>div:last-child{
   font-size: 60px;
   color: #4267b2;
}

#description{
    width:100%;
}
#heading{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#heading>h1{
   font-size: 22px;
   font-weight: 700;
   color: #1b1b1b;
}
#heading>h4{
   font-size: 15px;
   font-weight: 600;
   color: #6e6e6e;
}
#Overview>select{
    width: 100%;
    border: none;
    padding: 15px 0; 
    font-size: 20px;
}
#reviewBtn{
    border: none;
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 700;
    padding: .8em 4em;
    border: 1px solid rgb(122, 122, 122);
    background-color:transparent;
}

/* For Poppop write style here... */
#popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
}
#popup{
    font-family: sans-serif;
}
#loader{
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: auto;
    z-index: 3000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
#popup .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    height: auto;
    z-index: 3000;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
}

#popup input{
    width: 250px;
    height: 30px;
    margin: 10px;
    outline: none;
    font-size: 16px;
}

#addBtn{
    width: 265px;
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c;
    height: 45px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 23px;
}

#addBtn:hover{
    border: 1px solid #1c1c1c;
    color: #1c1c1c;
    background-color: transparent;
}
#popup #continueBtn{
    width: 265px;
    background-color: transparent;
    border: 1px solid #1c1c1c;
    height: 45px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

#popup #continueBtn:hover{
    background-color: #1c1c1c;
    color: white;
}

#popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content>#itemTotal{

    display: flex;
    font-size: 50px;
    justify-content: space-between;
}

.content>#itemTotal>p{
    margin-top: 5px;
    font-family: sans-serif;
    display: flex;
    color:black;
    font-size: 22px;
    font-weight: bold;
}
.content>#itemTotal>p>span{
    margin-left: 10px;
    color:black;
    font-size: 22px;
    font-weight: 500;
}

#popup .close-btn:hover{
    color: black;
    border: 2px solid black;
    background-color: white;

}
.none{
    display: none;
}